<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <title>博客首页</title>
</head>

<body>

<div class="header">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only" th:bgcolor="">Toggle navigation</span>
                    <span class="icon-bar">
                </span>
                </button>
                <a class="navbar_brand" href="#" th:href="@{/mainPage}">首页</a>
                <a class="navbar_brand" href="#" th:href="@{/mainPage}">Hu Blog</a>
                <a class="navbar_brand" href="#" th:href="@{/mainPage}">会员</a>
                <a class="navbar_brand" href="#" th:href="@{/mainPage}">登录</a>
                <a class="navbar_brand" href="#" th:href="@{/mainPage}">退出</a>
            </div>
        </div>
    </nav>
</div>

<div class="content">

    <div id="nav">

        <ul>

            <li><a href="http://localhost:8080/mainPage" title="">superbirds1</a></li>

            <li><a href="http://localhost:8080/mainPage" title="">superbirds2</a></li>

            <li><a href="http://localhost:8080/mainPage" title="">superbirds3</a></li>

            <li><a href="http://localhost:8080/mainPage" title="">superbirds4</a></li>

        </ul>

    </div>

    <div class="green-black">
        <span class="disabled">&lt; Prev</span>
        <span class="current">1</span>
        <a href="#?page=2">2</a>
        <a href="#?page=3">3</a>
        <a href="#?page=4">4</a>
        <a href="#?page=5">5</a>
        <a href="#?page=6">6</a>
        <a href="#?page=7">7</a>...
        <a href="#?page=199">199</a>
        <a href="#?page=200">200</a>
        <a href="#?page=2">Next &gt;</a>
    </div>

</div>

<div class="footer">
    这里是底部
</div>
<!-- 代码 结束 -->

<style type="text/css"> .navbar_brand {
    font-size: 34px;
    color: white;
}
</style>

</body>

</html>






